.projetcs-container-text {
    padding: 1.85rem;
    border: 0.25rem solid var(--primary-color);
    border-radius: 1.25rem;
    margin-bottom: 1.25rem;
}

.wrapper {
    max-width: 60%;
    max-height: auto;
    position: relative;
    overflow: hidden;
}

.wrapper i {
    height: 3rem;
    width: 3rem;
    text-align: center;
    line-height: 3rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-10%);
    font-size: 1.5rem;
    z-index: 3;
    border-radius: 50%;
}

.wrapper i#left {
    left: 0.5rem;
}

.wrapper i#right {
    right: 0.5rem;
}

.wrapper .carousel {
    display: flex;
    height: 100%;
    width: 100%;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow-x: auto;
    position: relative;
    gap: 2rem;
    padding: 2rem;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel .card {
    flex: 0 0 calc(100% - 4rem);
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    min-height: calc(100% - 4rem);
    padding: 2rem;
    margin: 0 2rem;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
}

.image-card {
    max-width: 60%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.25rem;
}

.image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 3px solid var(--primary-color);
    border-radius: 10%;
}

.card h2 {
    width: 60%;
    display: flex;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    margin: 1rem 0;
    justify-content: center;
    text-align: center;
}

.card span {
    margin-top: 0.75rem;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    max-width: 100%;
    text-align: center; 
    padding: 0 1rem; 
}

.section-light {
    position: relative;
    padding-bottom: 3.75rem;
}

.container-character-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.character-up2{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: -4.3%;
    z-index: 3;
}

.character-up2 img{
    max-width: 40%;
    max-height: auto;
    filter: drop-shadow(-15px 0px 10px rgba(0, 0, 0, 0.6));
    transform: rotateY(180deg);
}
